.seccion_propiedades {
    width: 80%;
    height: 100%;
    margin: auto;
}

.seccion_filtros {
    margin-top: 100px;
}

.no-propiedades {
    display: block;
    color: #333; 
    font-weight: bold; 
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
    padding: 20px; 
    border: 2px solid #ccc; 
    background-color: #f9f9f9; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    max-width: 600px; 
    margin-left: auto;
    margin-right: auto;
}


.animated-title {
    text-align: center;
}

.filtros {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
}

.seccion_propiedad {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
}

.propiedad-img,
.propiedad-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.div_propiedad_info {
    display: flex;
    flex-direction: column;
}

.div_titulo h2 {
    margin: 0;
}

.div_descripcion p {
    margin: 0.5rem 0;
}

.section-precio {
    margin: 1rem 0;
}

.title-precio p {
    margin: 0;
}

.cant-precio p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.elem-prop {
    text-align: center;
}

.elem-prop p {
    margin: 0;
}

.det_btn {
    width: 50%;
    margin: auto;
}

.det_btn button {
    width: 100%;
    color: #F5F5F5;
    background-color: #1E1E1E;
    border: none;
    border-radius: 8px;
    padding: 0.7rem 0.5rem;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
}

button:hover {
    cursor: pointer;
    background-color: #333;
}

.modal-title{
    font-size: 30px;
}

.modal-body h2 {
    font-size: 20px;
}

.no-prop-msg {
    display: none; 
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 1.2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



@media (max-width: 1024px) {
    .seccion_propiedad {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .filtros {
        margin-top: 50px; 
        margin: 1rem;
    }
}

@media (max-width: 768px) {
    .seccion_propiedades {
        width: 100%;
        padding: 0 1rem;
    }

    .filtros {
        flex-direction: column;
    }

    .seccion_propiedad {
        grid-template-columns: 1fr;
    }

    .det_btn {
        width: 100%;
        margin: 1rem 0;
    }

    .det_btn button {
        padding: 1rem;
    }

    .div_descripcion p {
        font-size: 0.9rem;
    }

    .cant-precio p {
        font-size: 1.2rem;
    }
}

@media (max-width: 468px) {
    .filtros {
        gap: 1rem;
        margin-top: 20px;
    }
}